* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container-fluid {
  display: flex;
}

main {
  width: 100%;
  padding: 20px;
}

.sidebar {
  background-color: rgb(12, 34, 66);
  color: white;
  height: 100vh;
  width: 280px;
  margin-left: -12px;
  transition: all 0.7s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 24px 40px;
}

.logo {
  font-size: 30px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: white;
  padding: 5px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}

.link:hover {
  background: lightskyblue;
  color: black;
  transition: all 0.5s;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 13px;
  border-radius: 40px 13px;
}

.active {
  background: white;
  color: black;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 10px;
  border-radius: 40px 13px;
}

.icon,
.link_text {
  font-size: 20px;
}